<% include partials/_header %>
<style>body{background: #fafafa  !important; }</style>


<div class="container">

  <div class="row">
    <!--FORM-->
      <div class="card">
        <h1 class="text-center">Inicial</h1>
        <div class="card-body">
          <form action="/add" method="post">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div id="print-area">  
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Tiempo de fase</th>
                    <th scope="col">Plan (Horas)</th>
                    <th scope="col">Real (Horas)</th>
                    <th scope="col">A la fecha (dia)</th>
                    <th scope="col">% A la fecha</th>
                  </tr>
                </thead>
            
                <tbody>
                  <tr>
                    <th scope="row">Planeacion</th>
                    <td>
                      <input class="form-control" type="number" name="PlanHoras" placeholder="PlanHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="RealHoras" placeholder="RealHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="date" name="fecha" placeholder="fecha">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="Porcentaje" placeholder="Porcentaje">
                      <div class="validate"></div>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Diseño</th>
                    <td>
                      <input class="form-control" type="number" name="DplanHoras" placeholder="PlanHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="DrealHoras" placeholder="RealHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="date" name="Dfecha" placeholder="Fecha">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="Dporcentaje" placeholder="Porcentaje">
                      <div class="validate"></div>
                    </td>
                  </tr>
                  
                  <tr>
                    <th scope="row">Codificación</th>
                    <td>
                      <input class="form-control" type="number" name="CplanHoras" placeholder="PlanHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="CrealHoras" placeholder="RealHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="date" name="Cfecha" placeholder="Fecha">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="Cporcentaje" placeholder="Porcentaje">
                      <div class="validate"></div>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Prueba</th>
                    <td>
                      <input class="form-control" type="number" name="PplanHoras" placeholder="PlanHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="PrealHoras" placeholder="RealHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="date" name="Pfecha" placeholder="Fecha">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="Pporcentaje" placeholder="Porcentaje">
                      <div class="validate"></div>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">PostMortem</th>
                    <td>
                      <input class="form-control" type="number" name="PMplanHoras" placeholder="PlanHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="PMrealHoras" placeholder="RealHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="date" name="PMfecha" placeholder="Fecha">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="PMporcentaje" placeholder="Porcentaje">
                      <div class="validate"></div>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Total</th>
                    <td>
                      <input class="form-control" type="number" name="TplanHoras" placeholder="PlanHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="TrealHoras" placeholder="RealHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="date" name="Tfecha" placeholder="Fecha">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="Tporcentaje" placeholder="Porcentaje">
                      <div class="validate"></div>
                    </td>
                  </tr>

                     </tbody>                                 
              </table>         
                          
            </div>
            <button class="btn btn-info offset-md-5"  type="submit">
              Guardar
            </button>       
                            
            </form>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- 2 -->



<div class="container">
  <div class="row">
    <!--FORM-->
      <div class="card">
        <h1 class="text-center">Errores Ingresados</h1>
        <div class="card-body">
          <form action="/add" method="post">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div id="print-area">  
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Tiempo de fase</th>
                    <th scope="col">Plan (Horas)</th>
                    <th scope="col">Real (Horas)</th>
                    <th scope="col">A la fecha (dia)</th>
                    <th scope="col">% A la fecha</th>
                  </tr>
                </thead>
            
                <tbody>
                  <tr>
                    <th scope="row">Planeacion</th>
                    <td>
                      <input class="form-control" type="number" name="PlanHoras" placeholder="PlanHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="RealHoras" placeholder="RealHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="date" name="fecha" placeholder="fecha">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="Porcentaje" placeholder="Porcentaje">
                      <div class="validate"></div>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Diseño</th>
                    <td>
                      <input class="form-control" type="number" name="DplanHoras" placeholder="PlanHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="DrealHoras" placeholder="RealHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="date" name="Dfecha" placeholder="Fecha">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="Dporcentaje" placeholder="Porcentaje">
                      <div class="validate"></div>
                    </td>
                  </tr>
                  
                  <tr>
                    <th scope="row">Codificación</th>
                    <td>
                      <input class="form-control" type="number" name="CplanHoras" placeholder="PlanHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="CrealHoras" placeholder="RealHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="date" name="Cfecha" placeholder="Fecha">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="Cporcentaje" placeholder="Porcentaje">
                      <div class="validate"></div>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Prueba</th>
                    <td>
                      <input class="form-control" type="number" name="PplanHoras" placeholder="PlanHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="PrealHoras" placeholder="RealHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="date" name="Pfecha" placeholder="Fecha">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="Pporcentaje" placeholder="Porcentaje">
                      <div class="validate"></div>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Compilacion</th>
                    <td>
                      <input class="form-control" type="number" name="PMplanHoras" placeholder="PlanHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="PMrealHoras" placeholder="RealHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="date" name="PMfecha" placeholder="Fecha">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="PMporcentaje" placeholder="Porcentaje">
                      <div class="validate"></div>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Total Desarrollo</th>
                    <td>
                      <input class="form-control" type="number" name="TplanHoras" placeholder="PlanHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="TrealHoras" placeholder="RealHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="date" name="Tfecha" placeholder="Fecha">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="Tporcentaje" placeholder="Porcentaje">
                      <div class="validate"></div>
                    </td>
                  </tr>

                     </tbody>                                      
              </table>         
                          
            </div>
            <button class="btn btn-info offset-md-5"  type="submit">
              Guardar
            </button>       
                            
            </form>
          </form>
        </div>
      </div>
    </div>


    
  </div>
</div>

<!--3-->

<div class="container">
  <div class="row">
    <!--FORM-->
      <div class="card">
        <h1 class="text-center">Errores Eliminados</h1>
        <div class="card-body">
          <form action="/add" method="post">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div id="print-area">  
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Tiempo de fase</th>
                    <th scope="col">Plan (Horas)</th>
                    <th scope="col">Real (Horas)</th>
                    <th scope="col">A la fecha (dia)</th>
                    <th scope="col">% A la fecha</th>
                  </tr>
                </thead>
            
                <tbody>
                  <tr>
                    <th scope="row">Planeacion</th>
                    <td>
                      <input class="form-control" type="number" name="PlanHoras" placeholder="PlanHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="RealHoras" placeholder="RealHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="date" name="fecha" placeholder="fecha">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="Porcentaje" placeholder="Porcentaje">
                      <div class="validate"></div>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Diseño</th>
                    <td>
                      <input class="form-control" type="number" name="DplanHoras" placeholder="PlanHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="DrealHoras" placeholder="RealHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="date" name="Dfecha" placeholder="Fecha">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="Dporcentaje" placeholder="Porcentaje">
                      <div class="validate"></div>
                    </td>
                  </tr>
                  
                  <tr>
                    <th scope="row">Codificación</th>
                    <td>
                      <input class="form-control" type="number" name="CplanHoras" placeholder="PlanHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="CrealHoras" placeholder="RealHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="date" name="Cfecha" placeholder="Fecha">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="Cporcentaje" placeholder="Porcentaje">
                      <div class="validate"></div>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Prueba</th>
                    <td>
                      <input class="form-control" type="number" name="PplanHoras" placeholder="PlanHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="PrealHoras" placeholder="RealHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="date" name="Pfecha" placeholder="Fecha">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="Pporcentaje" placeholder="Porcentaje">
                      <div class="validate"></div>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Total Desarrollo</th>
                    <td>
                      <input class="form-control" type="number" name="PMplanHoras" placeholder="PlanHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="PMrealHoras" placeholder="RealHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="date" name="PMfecha" placeholder="Fecha">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="PMporcentaje" placeholder="Porcentaje">
                      <div class="validate"></div>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Despues del desarrollo</th>
                    <td>
                      <input class="form-control" type="number" name="TplanHoras" placeholder="PlanHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="TrealHoras" placeholder="RealHoras">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="date" name="Tfecha" placeholder="Fecha">
                      <div class="validate"></div>
                    </td>
                    <td>
                      <input class="form-control" type="number" name="Tporcentaje" placeholder="Porcentaje">
                      <div class="validate"></div>
                    </td>
                  </tr>

                     </tbody>                                 
              </table>         
                          
            </div>
            <button class="btn btn-info offset-md-5"  type="submit">
              Guardar
            </button>       
                            
            </form>
          </form>
        </div>
      </div>
    </div>


    
  </div>
</div>

<div class="container">
<!-- LIST -->
<div class="col-md-27">
  <table class="table table-striped">
    <thead>
      <tr>    
        <th>N</th>        
        <th>Plan (Horas)</th>
        <th>Real (Horas)</th>
        <th>A la fecha (dia)</th>
        <th>% A la fecha</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < tasks.length; i++) { %>
        <tr>
          <td><%= i + 1%></td>
          <td><%= tasks[i].PlanHoras %></td>
          <td><%= tasks[i].RealHoras %></td>
          <td><%= tasks[i].fecha %></td>
          <td><%= tasks[i].Porcentaje %></td>
           <!--<td><strong><%= tasks[i].Porcentaje %></strong></td>-->
          
          <td>
            <a
            
            <a href="/delete/<%= tasks[i]._id %>"
              class="btn btn-danger">
              Borrar
            </a>
            <a href="/edit/<%= tasks[i]._id %>" class="btn btn-info">
              Editar
            </a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
</div>